.sidebar {
    position: fixed;
    width: 150px;
    height: 41vh;
    background-color: #f8f9fa;
    padding: 20px 10px;
    border-right: 1px solid #ddd;
    border-radius: 10%;
  }
  .sidebar h2 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .sidebar ul {
    list-style-type: none;
    padding-left: 0;
  }
  .sidebar ul li {
    margin-bottom: 10px;
  }
  .sidebar ul li a {
    color: #333;
    text-decoration: none;
    padding: 8px 10px;
    display: block;
    border-radius: 4px;
  }
  .sidebar ul li a:hover {
    background-color: #e9ecef;
  }